body {
    font-family: Arial, Helvetica, sans-serif;
}

.hide {
    display: none;
}

main table {
    margin: auto;
    text-align: center;
    margin-top: 50px;
    width: 800px;
}

table.main td,
table.main th {
    padding: 6px 0;
}

table.main thead .id {
    width: 50px;
}

table.main thead .barang {
    width: 500px;
}

table.main tbody td:nth-child(2),
table.main tbody td:nth-child(4) {
    text-align: left;
}

table.main button {
    padding: 0;
    width: 100%;
}

table.main button[value="buy"],
table.main button[value="submit"],
table.main button[value="complete"] {
    background-color: rgb(0, 255, 0);
}

table.main button[value="delete"] {
    background-color: red;
}

table.main button[value="search"],
table.main button[value="edit"] {
    background-color: yellow;
}