body {
    font-family: Arial, Helvetica, sans-serif;
}

.hide {
    display: none;
}

table.main {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 800px;
}



table.main th.id {
    width: 50px;
}

/* table.main th.barang {
    width: 400px;
} */

table.main th.stok {
    width: 70px;
}

table.main th.harga {
    width: 170px;
}

table.main th.button {
    width: 85px;
}



table.main td,
table.main th {
    padding: 6px 0;
}

/* table.main tbody td:nth-child(2),
table.main tbody td:nth-child(4) {
    text-align: left;
} */

table.main tbody td:nth-child(2) {
    padding-left: 10px;
    text-align: left;
}

table.main tbody tr.add input,
table.main tbody tr.change input {
    box-sizing: border-box;
    border: none;
    width: 100%;
}


#wallet-value {
    text-align: right;
    padding-right: 10px;
}




table.main button {
    padding: 0;
    width: 100%;
}

table.main button[value="buy"],
table.main button[value="add"],
table.main button[value="complete"] {
    background-color: rgb(0, 255, 0);
}

table.main button[value="search"],
table.main button[value="change"],
table.main button[value="edit"] {
    background-color: yellow;
}

table.main button[value="delete"] {
    background-color: red;
}